:root {
    --main: #9574F5;
    --light: #F545B3;
    --dark: #5D60DE;
    --accent1: #A8608D;
    --accent2: #67C7F5;
  }

  body{
    background: linear-gradient(to left top,var(--light) 47%, var(--dark) 100%);
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .card{
    background: var(--dark);
  border: 2px solid var(--light);
  color: beige;
  }

  form{
    background-color: var(--accent1);
  }

  a, button{
    color: white;
    border: solid #9574F5;
    padding: 1.5em;
    background: linear-gradient(to left top,var(--light) 47%, var(--dark) 100%);
  }

  #init {
    margin: .5em;
  }
  #randomizer {
    margin: .5em;
  }
  a:hover, button:hover{
    color: black;
    border: solid beige;
    padding: 0.5em;
    background: linear-gradient(to left top,var(--light) 47%, var(--dark) 100%);
  }

  img{
    border-radius: 5%;
    height: 35em;
  }

  li{
    list-style: square;
  }